input {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16.5pt;
    font-weight: normal;
    line-height: 1.75;
}
@media screen and (max-width: 1680px) {

    body, input, select, textarea {
        font-size: 13pt;
    }

}

@media screen and (max-width: 1280px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 360px) {

    body, input, select, textarea {
        font-size: 11pt;
    }

}